*{
    margin: 0;
    padding: 0;
}

main{
    margin-left: 5px;
    margin-right: 5px;
}

header{
    background-color: rgb(77, 160, 254);
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 65px;
    background-position: right top;
    background-size: 250px;
    margin-bottom: 20px;
}

.logo{
    width: 150px;
    margin-top: 25px;
}

.title_box{
    margin-bottom: 20px;
}

.title_box h1{
    font-size: 40px;
}

.sub_title, .small_sub_title{
    color: gray;
    padding-bottom: 2px;
}

.sub_title span{
    color: rgb(33, 169, 229);
}

.sub_title{
    font-size: 17px;
}

.small_sub_title{
    font-size: 12px;
}